---
layout: default
title: Empresas
permalink: /companies/
---

<h2>Empresas</h2>
<p class="text-muted">Lista de algumas empresas que tem Ruby na sua stack e utilizam esta plataforma para contar um pouquinho da sua cultura</p>

<div class="row">
  <div class="col-12 mb-4 text-right">
    <a class="btn btn-sm btn-outline-dark" href="/companies/publish">
      <i class="far fa-plus-square"></i>
      Cadastrar Empresa
    </a>
  </div>
</div>

<div class="list-group">
  {% assign companies = site.companies | where: 'layout', 'companies' | reverse %}
  {% for page in companies limit: 6 %}
    {% include companies/item.html %}
  {% endfor %}
</div>
