---
layout: default
title: Home
---

<h1>Ultimas vagas</h1>

<ul>
  {% for page in site.pages reversed %}
    {% if page.layout == 'jobs' %}
      <li>
        <h2>
          <a class="btn btn-link" href="{{ page.url | prepend: site.baseurl }}" title="{{ page.title }}"
            >{{ page.title }}</a
          >
        </h2>
        <p>
          {% if page.role %}
          <span class="pill role">{{ page.role }}</span> @ {% endif %}
          <span class="pill organization">{{ page.organization }}</span>
        </p>
      </li>
    {% endif %}
  {% endfor %}
</ul>
