---
layout: default
title: Home
---

<h2>Ultimas vagas</h2>

<div class="list-group">
  {% for page in site.pages reversed %}
    {% if page.layout == 'jobs' %}
      <a href="#" class="list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">{{ page.title }}</h5>
          <small>{{ page.posted_at }}</small>
        </div>
        <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
        <small>{{ page.role }} @ {{ page.organization }}</small>
      </a>
    {% endif %}
  {% endfor %}
</div>

