<nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar-red">
  <div class="container">
    <a class="navbar-brand" href="/">
      {{ site.title }}
      <small style="font-size: 8px;" class="badge badge-light text-dark">beta</small>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMenu"
      aria-controls="navbarMenu" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarMenu">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="btn btn-outline-light" href="https://github.com/BuiltinRuby/builtinruby">Publicar vaga</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
