
$secondary-color: #ffffff;
$light-color: #333333;

@import 'bootstrap/bootstrap';
@import 'social/share-page';

$backgroundColor: #ffffff;
$bodyColor: #000000;
$bodyFont: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";

body {
  background: $backgroundColor;
  color: $bodyColor;
  font-family: $bodyFont;
}

.navbar-red {
  background-color: #ca6161 !important;
}


.job-item-description {
  color: #7d7d7d;
  font-weight: 300;
  font-size: 12px
}

.job-tags {
  background-color:  #ca6161;
}
