---
layout: default
title: Publicar Vaga
controller: jobs#publish
permalink: /jobs/publish
---

<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/tail.writer@0.4.1/css/tail.writer-github.min.css"
  type="text/css"
/>

<section id="job-publish">
  <h1>Publicar Vaga</h1>

  <div class="row">
    <div class="col">
      <p>
        Se você esta aqui, está em busca de encontrar profissionais que trabalham com o maravilhoso
        ecosistema e comunidade da linguagem Ruby.
      </p>
      <p>
        Preencha os campos abaixo para deixar todos sabendo das excelentes vagas que estão em aberto
        na sua empresa.
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col alert alert-warning">
      <p>
        <strong class="text-danger">Atenção:</strong>
      </p>
      <p>
        <small>
          Este formulário encontra-se em versão
          <code>Alpha</code>, o que significa que ele esta em desenvolvimento e testes e você obteve
          acesso antecipado a ele para nos ajudar a melhorar sua experiência.
        </small>
      </p>

      <p>
        <small>
          Por este motivo, se você encontrar qualquer problema em utilizar esta pagina, por favor,
          no
          <a
            href="https://github.com/builtinruby/builtinruby/issues/new?title=[bug] Problema na Tela de Publicação de Vagas&labels=bug,job-publish&body=Por favor, nos conte com o maximo de detalhes o que ocorreu..."
            target="_blank"
            >envie uma mensagem nos canais publicos do projeto</a
          >
          para que possamos entender o que esta ocorrendo e corrigir o problema.
        </small>
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <form id="job-publish-form" action="https://builtinruby-api.herokuapp.com/api/v1/jobs" charset="UTF-8"
        data-remote="true" method="post">
        <div class="form-group">
          <label for="company">Empresa</label>
          <input
            type="text"
            id="company"
            name="company"
            class="form-control"
            placeholder="Wayne Corp"
            list="ds-companies"
            autocomplete="off"
          />
          <small class="form-text text-muted"
            >Sua empresa não está listada? Que tal adicionar ela a lista de empresas
            <a href="/companies/publish" target="_blank">clincando aqui</a>!</small
          >
        </div>

        <div class="row">
          <div class="form-group col-8">
            <label for="role">Cargo</label>
            <input
              id="role"
              name="role"
              class="form-control typeahead"
              type="text"
              placeholder="Software Engineer"
              autocomplete="off"
              list="ds-roles"
            />
            <small class="form-text text-muted"
              >Preencha o cargo de forma a deixa-lo livre de gênero, exemplo:
              <code>Software Developer</code> ou <code>Desenvolvedor(a)</code></small
            >
          </div>

          <div class="form-group col-4">
            <label for="level">Nível de Conhecimento</label>
            <select id="level" name="level" class="form-control">
              {% for level in site.data.levels.levels %}
              <option>{{ level }}</option>
              {% endfor %}
            </select>
          </div>
        </div>

        <div class="row">
          <div class="form-group col-3">
            <label for="employment_term">Forma de Contratação</label>
            <select id="employment_term" name="employment_term" class="form-control">
              <option>CLT</option>
              <option>PJ</option>
            </select>
          </div>

          <div class="form-group col-9">
            <label for="pay_rate">Salário</label>
            <input
              id="pay_rate"
              name="pay_rate"
              class="form-control"
              type="text"
              placeholder="A combinar"
              autocomplete="off"
              list="ds-compensations"
            />
          </div>
        </div>

        <div class="form-group">
          <label for="location">Local</label>
          <input
            id="location"
            name="location"
            class="form-control"
            type="text"
            autocomplete="off"
            list="ds-locations"
          />
          <small class="form-text text-muted"
            >Preencha com o local onde o candidato trabalhará (ex:
            <code>Vila Olímpia - São Paulo</code>) ou <code>Remoto</code> para o caso de Home
            Office.</small
          >
        </div>

        <div class="form-group">
          <label for="website">Website</label>
          <input
            id="website"
            name="website"
            class="form-control"
            type="url"
            placeholder="https://empresa.com.br"
          />
          <small class="form-text text-muted"
            >Preencha o site da sua empresa com <code>http://</code> ou <code>https://</code> na
            frente.
          </small>
        </div>

        <div class="form-group">
          <label for="tags">Tags</label>
          <input
            id="tags"
            name="tags[]"
            class="form-control"
            type="text"
            placeholder="ruby; rails; postgresql"
          />
          <small class="form-text text-muted"
            >Preencha a lista de tags, separando as mesmas por <code>;</code> (ex.
            <code>ruby; rails; postgres; tdd</code>)
          </small>
        </div>

        <div class="form-group">
          <h3>Descrição da Vaga</h3>
          <textarea name="description" rows="8" cols="40" class="form-control"></textarea>
        </div>

        <div class="form-group">
          <h3>Requisitos</h3>
          <textarea name="requirements" rows="8" cols="40" class="form-control"></textarea>
        </div>

        <div class="form-group">
          <h3>Benefícios</h3>
          <textarea name="benefits" rows="8" cols="40" class="form-control"></textarea>
        </div>

        <div class="form-group">
          <h3>Como se candidatar?</h3>
          <textarea name="how_to_apply" rows="8" cols="40" class="form-control"></textarea>
        </div>

        <div class="form-group">
          Preenchendo e submetendo estas informações você esta de acordo em se torna responsável
          pelas mesmas e aceita compartilhar estas informações publicamente.
        </div>
        <button type="submit" class="btn btn-dark" data-disable-with="Publicando...">Publicar Vaga</button>
      </form>
    </div>
  </div>
</section>

<!-- datalists -->
{% include datalists/companies.html %}
{% include datalists/compensations.html %}
{% include datalists/locations.html %}
{% include datalists/roles.html %}
