<!-- js sources -->
<script src="https://cdn.jsdelivr.net/npm/uuid@latest/dist/umd/uuidv4.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/luxon@1/build/global/luxon.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/showdown/dist/showdown.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/tail.writer@0.4.1/js/tail.writer-full.min.js"></script>

<script src="{{ "/assets/js/vendors.js" | relative_url }}"></script>
<script src="{{ "/assets/js/application.js" | relative_url }}"></script>
