<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ page.title }} - {{ site.title }}</title>

    {% include site/social.html %}

    <link rel="stylesheet" href="{{ "/assets/css/application.css" | relative_url }}">
    <script src="https://kit.fontawesome.com/ac647899b0.js" crossorigin="anonymous"></script>
  </head>
  <body data-controller="{{ page.controller }}">
    <header>
      {% include navbar.html %}
    </header>

    <main role="main">
      <div class="py-5">
        <div class="container">
          {{ content }}
        </div>
      </div>

    </main>

    {% include site/footer.html %}

    {% include site/scripts.html %}
  </body>
</html>
