<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ page.title }} - {{ site.title }}</title>

    {% include site/social.html %}

    <link rel="stylesheet" href="{{ "/assets/css/application.css" | relative_url }}">
    <script src="https://kit.fontawesome.com/ac647899b0.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <header>
      {% include navbar.html %}
    </header>

    <main role="main">
      <div class="py-5">
        <div class="container">
          <div class="row">
            <div class="col">
              <h1 class="h2 mb-0">
                {{ page.title  }} <br>
                <small class="h5 lead">{{ page.role }} @ {{ page.company }}</small>
              </h1>
            </div>
          </div>

          <div class="row mt-5">
            <div class="col">
              {{ content }}
            </div>
            <div class="col-md-3 col-sm-12">
              <div class="card">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">
                    <strong class="job-item-description"><i class="fas fa-clock"></i> Vaga publicada</strong>
                    <br />
                    <date class="timeago" title="{{ page.posted_at | date: "%d/%m/%Y" }}">{{ page.posted_at }}</date>
                  </li>
                  <li class="list-group-item">
                    <strong class="job-item-description"><i class="fas fa-user-astronaut text-monospace"></i> Área de atuação</strong>
                    <br>
                    {{ page.role }}
                  </li>
                  <li class="list-group-item">
                    <strong class="job-item-description"><i class="fas fa-user-friends text-monospace"></i> Nível</strong>
                    <br>
                    {{ page.level }}
                  </li>
                  <li class="list-group-item">
                    <strong class="job-item-description"><i class="fas fa-chalkboard-teacher text-monospace"></i> Contratação</strong>
                    <br>
                    {{ page.employment_term }}
                  </li>
                  <li class="list-group-item">
                    <strong class="job-item-description"><i class="fas fa-money-check-alt text-monospace"></i> Pretenção</strong>
                    <br>
                    {{ page.pay_rate }}
                  </li>
                  <li class="list-group-item">
                    <strong class="job-item-description"><i class="fas fa-map-marker-alt text-monospace"></i> Local</strong>
                    <br>
                    {{ page.location }}
                  </li>
                  <li class="list-group-item">
                    <strong class="job-item-description"><i class="fas fa-envelope-open-text text-monospace"></i> Contato</strong>
                    <br>
                    {{ page.contact }}
                  </li>
                  <li class="list-group-item">
                    <strong class="job-item-description"><i class="fas fa-window-maximize text-monospace"></i> Site</strong>
                    <br>
                    <a href="{{ page.website }}" target="_blank">{{ page.website }}</a>
                  </li>
                  <li class="list-group-item">
                    <strong class="job-item-description"><i class="fas fa-tags text-monospace"></i> Tags</strong>
                    <br />
                    {% for tag in page.tags %}
                      <span class="badge badge-danger job-tags">{{ tag }}</span>
                    {% endfor %}
                  </li>
                </ul>
              </div>
            </div>
          </div>

          {% include social/share_page.html %}
        </div>
      </div>
    </main>

    {% include site/footer.html %}

    {% include site/scripts.html %}
  </body>
</html>
